<!-- <div class="remove-container container-block">
<h2 class="container-block-title">Volunteer</h2>
<ul class="list-unstyled interests-list">
<a target="_blank">
  <li><span style="font-weight: bold">Associate Board Member</span></li>
  <li><span class="meta">Education Through Music, Inc.</span></li>
</a>
</ul>
</div><!--//About-->

<div class="education-container container-block">
<h2 class="container-block-title">Volunteer</h2>
<div class="item">
   <h4 class="degree">Associate Board Member</h4>
   <h5 class="meta">Education Through Music, Inc.</h5>
</div><!--//item-->
</div><!--//education-container-->
