<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Experienced Full Stack Software Engineer with a strong product focus and a proven track record in the SaaS, tech, sports, and media industries.</p>

    <p>Skilled in full stack development, product management, strategic planning, user experience design, data analysis, and team leadership.</p>

    <p>Proficient in JavaScript, TypeScript, React, Next.js, Node.js, CSS, GraphQL, APIs, Git, Jira, software testing, SQL and NoSQL databases and Agile methodologies.</p>
</div><!--//summary-->
</section><!--//section-->
