 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Advanced Software Engineering</h4>
    <h5 class="meta">Hack Reactor</h5>
    <div class="time">2017</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Independent Coursework</h4>
    <h5 class="meta">App Academy</h5>
    <h5 class="meta">General Assembly</h5>
    <h5 class="meta">freeCodeCamp</h5>
</div><!--//item-->
</div><!--//education-container-->
