<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Professional Experience</h2>    
    <!--//item-->
    <div class="item">
        <div class="meta">
            <div class="company">
                <a href="https://www.cypress.io/cloud" target="_blank">Cypress.io</a>
            </div>
            <div class="upper-row">
                <h3 class="job-title">Senior Software Engineer</h3>
                <div class="time">2022 - 2024</div>
            </div>
            <!--//upper-row-->
        </div>
        <!--//meta-->
        <div class="details">
            <p>Cypress Cloud</p>
            <ul>
                <li>Developed and deployed features enhancing enterprise cloud app, boosting user engagement and satisfaction</li>
                <li>Formulated strategic plans for Cypress Tools Ecosystem, ensuring stability and increased adoption</li>
                <li>Collaborated with cross-functional teams to align algorithms with business needs and user expectations</li>
                <li>Authored and refined documentation and processes for new products, ensuring clarity and consistency</li>
            </ul>
        </div>
        <!--//details-->
    </div>
    <!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Developer Experience Engineer</h3>
                <div class="time">2021 - 2022</div>
            </div>
            <!--//upper-row-->
        </div>
        <!--//meta-->
        <div class="details">
            <p>Open Source Test Runner (<em>5MM+ weekly downloads</em>)</p>
            <ul>
                <li>Migrated a custom documentation site to a proven platform, enhancing performance, improving maintainability, and integrating frequently requested features</li>
                <li>Developed demo apps, plugins, and libraries, integrating with prevalent frameworks to educate the community</li>
                <li>Researched and engineered new developer workflow improvements, enhancing internal and external efficiency</li>
                <li>Fostered relationships with the open source community, improving user experience with common tools like React, Next.js, Angular, and AWS</li>
                <li>Conducted interviews and contributed to hiring, enhancing team capabilities and driving company success</li>
            </ul>
        </div>
        <!--//details-->
    </div>
    <!--//item-->
    
    <!--//item-->
    <div class="item">
        <div class="meta">
            <div class="company">
                <a href="https://www.makerbot.com/cloudprint/" target="_blank">MakerBot, NYC</a>
            </div>
            <div class="upper-row">
                <h3 class="job-title">Senior Software Engineer</h3>
                <div class="time">2021</div> 
            </div>
            <!--//upper-row-->
        </div>
        <!--//meta-->
        <div class="details">
            <p>Makerbot CloudPrint - A cloud-based web application for 3D print preparation.</p>
            <ul>
                <li>Contributed to the architecture and execution of CloudPrint, a browser-based application for 3D print preparation</li>
                <li>Analyzed firmware error patterns to develop comprehensive mapping tool, ensuring consistent user experience across diverse client platforms</li>
                <li>Spearheaded implementation of automated end-to-end testing framework, enhancing QA process efficiency and accuracy for 3D printing software</li>
            </ul>
        </div>
        <!--//details-->
    </div>
    <!--//item-->
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Engineer</h3>
                <div class="time">2018 - 2021</div> 
            </div>
            <!--//upper-row-->
        </div>
        <!--//meta-->
        <div class="details">
            <p>Makerbot Print - A cross-platform desktop application for 3D print preparation.</p>
            <ul>
                <li>Overhauled legacy desktop application using modern JavaScript, improving performance and user experience</li>
                <li>Created dynamic module for print time and material estimates, aiding in user workflow efficiency</li>
                <li>Upgraded automated diagnostic test suite, ensuring robust application performance</li>
                <li>Promoted team best practices by creating comprehensive documentation and explainer videos</li>
            </ul>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <!-- <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Full Stack Developer</h3>
                <div class="time">2017</div>
            </div>
            <div class="company"><a href="https://github.com/jaffrepaul/apply-me" target="_blank">.apply(me), NYC</a></div>
        </div>
        <div class="details">
            <p>
                A web application for technical job-seekers that provides study material for missing job requirements
                and tracks application progress.
            </p>
            <ul>
                <li>Implemented component-based logic with React.js for a composable, scalable codebase</li>
                <li>Designed dynamic data visualizations with Chart.js for job application status tracking</li>
                <li>Architected RESTful API using Node, Express, PostgreSQL, and Sequelize</li>
                <li>Integrated automated reminder email service with Gmail SMTP and Nodemailer</li>
                <li>Constructed automated SMS service with Twilio for user interview reminders</li>
            </ul>
        </div>
    </div> -->

    <div class="item">
        <div class="meta">
            <div class="company">
                <a href="https://www.hudl.com/" target="_blank">Krossover Intelligence, NYC (acquired by Hudl)</a>
            </div>
            <div class="upper-row">
                <h3 class="job-title">Product Manager / Team Lead</h3>
                <div class="time">2015 - 2017</div>
            </div>
            <!--//upper-row-->
        </div>
        <!--//meta-->
        <div class="details">
            <p>A sports-tech video analysis platform providing performance insight and analytics to high school, collegiate, and professional players and coaches.</p>
            <ul>
                <li>Led cross-functional team in delivering key features, resulting in measurable usability improvements</li>
                <li>Defined product roadmap using data analysis, competitive research, and user testing insights</li>
                <li>Executed Scrum Master duties with Jira, Trello, and Google App Suite for efficient project management</li>
                <li>Contributed to product development by creating front-end features with AngularJS, D3.js, CSS, and SQL, alongside primary responsibilities</li>
                <li>Developed features as auxiliary front end developer with AngularJS, D3.js, CSS, and SQL</li>
                <li>Created user testing workflow for connecting, recording, and storing sessions</li>
                <li>Presented strategic insights and feature updates to leadership and stakeholders</li>
            </ul>
        </div>
        <!--//details-->
    </div>
    <!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="company">
                <a href="https://www.linkedin.com/company/sanborn-agency/" target="_blank">Sanborn Digital Marketing Agency</a>
            </div>
            <div class="upper-row">
                <h3 class="job-title">Senior Interactive Producer</h3>
                <div class="time">2013 - 2015</div>
            </div>
        </div>
        <div class="details">
            <ul>
                <li>Led internal education initiative, enhancing team knowledge on trending technologies and design techniques</li>
                <li>Bolstered web development capabilities, contributing Javascript, PHP, CSS, and Wordpress skills to cross-functional projects</li>
                <li>Facilitated interviews for diverse roles, contributing to strategic hiring decisions</li>
            </ul>
            </ul>
        </div>
        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">Project Manager</h3>
                    <div class="time">2009 - 2013</div>
                </div>
            </div>
            <div class="details">
                <ul>
                    <li>Managed multiple web, mobile, and experiential marketing projects across fashion, entertainment, and non-profit sectors,
                    enhancing client engagement and satisfaction</li>
                </ul>
                </ul>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="meta">
            <div class="company">
                <a href="https://shop.mattel.com/pages/fisher-price" target="_blank">Mattel/Fisher Price</a>
            </div>
            <div class="upper-row">
                <h3 class="job-title">Strategic Sales Planning</h3>
                <div class="time">2006 - 2009</div>
            </div>
        </div>
        <div class="details">
            <ul>
                <li>Collaborated with Sales, Marketing, and Design teams to achieve production and margin targets, ensuring strategic alignment</li>
                <li>Consulted on the Learn Through Music drum set, enhancing hardware and content for market success</li>
                <li>Provided industry insights to cast and crew during commercial shoots and PR campaigns, boosting brand visibility</li>
            </ul>
        </div>
    </div>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Worldwide Trade Show Services</h3>
                <div class="time">2006 - 2009</div>
            </div>
        </div>
        <div class="details">
            <ul>
                <li>Collaborated with Design and Marketing to enhance brand visibility and drive global sales growth</li>
                <li>Aligned trade show efforts with brand goals and market trends, fostering team synergy</li>
                <li>Increased trade show impact through strategic coordination, leading to measurable sales growth</li>
            </ul>
        </div>
    </div>

</section>
<!--//section-->
