<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Professional Experience</h2>

    <!-- <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Student</h3>
                            <div class="time">Present</div>
                        </div>--><!--//upper-row-->
    <!-- <div class="company">Hack Reactor, NYC</div>
                    </div>--><!--//meta-->
    <!-- <div class="details">
                        <p></p>
                        <p></p>
                    </div>--><!--//details-->
    <!-- </div>-->
    
    <!--//item-->
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Developer Experience Engineer</h3>
                <div class="time">Present</div>
            </div>
            <!--//upper-row-->
            <div class="company">
                <a href="https://www.cypress.io/" target="_blank">Cypress.io</a>
            </div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>Fast, easy and reliable testing for anything that runs in a browser.</p>
            <ul>
                <li>Develop demonstration apps, specialized plugins/libraries, integrations with other frameworks/services, and testing-related methodologies</li>
                <li>Research, engineer, and experiment with new ways to improve developer workflows</li>
                <li>Validate and experiment with early/pre-release feature developments to help ensure a robust and consistent developer experience</li>
                <li>Author and engage with the community via documentation, curated presentations, demonstrations, and learning guides to streamline developer adoption of Cypress</li>
                <li>Foster relationships with the open source community and establish partnerships that improve the experience and workflow of Cypress users across common frameworks and libraries</li>
            </ul>
        </div>
        <!--//details-->
    </div>
    <!--//item-->
    
    <!--//item-->
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Engineer</h3>
                <div class="time">2018 - 2021</div>
            </div>
            <!--//upper-row-->
            <div class="company">
                <a href="https://www.makerbot.com/3d-printers/apps/" target="_blank">MakerBot, NYC</a>
            </div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>A cross-platform web and desktop application for 3D print preparation.</p>
            <ul>
                <li>Overhauled legacy desktop application to modern and performant ES6/ES7/ES8/ES9</li>
                <li>Contributed to architecture and execution of online and offline browser-based applications</li>
                <li>Developed dynamic module to provide users with print time and material estimates</li>
                <li>Scripted tool to format and map firmware errors to various clients for UI consistency</li>
                <li>Extended and enhanced performance of automated diagnostic test suite</li>
                <li>Implemented team best practices while producing documentation and explainer videos</li>
            </ul>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Full Stack Developer</h3>
                <div class="time">2017</div>
            </div>
            <!--//upper-row-->
            <div class="company"><a href="https://github.com/jaffrepaul/apply-me" target="_blank">.apply(me), NYC</a></div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>
                A web application for technical job-seekers that provides study material for missing job requirements
                and tracks application progress.
            </p>
            <ul>
                <li>Implemented component-based logic with React.js for a composable, scalable codebase</li>
                <li>Designed dynamic data visualizations with Chart.js for job application status tracking</li>
                <li>Architected RESTful API using Node, Express, PostgreSQL, and Sequelize</li>
                <li>Integrated automated reminder email service with Gmail SMTP and Nodemailer</li>
                <li>Constructed automated SMS service with Twilio for user interview reminders</li>
            </ul>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Product Manager / Team Lead</h3>
                <div class="time">2015 - 2017</div>
            </div>
            <!--//upper-row-->
            <div class="company">
                <a href="https://www.krossover.com/" target="_blank">Krossover Intelligence, NYC</a>
            </div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>A sports-tech video analytics platform providing performance insight to high school, collegiate, and professional level players and coaches.</p>
            <ul>
                <li>
                    Cross-functionally managed team of 15 developers, visual and UX designers, and QA engineers
                    delivering new features and streamlining core user interaction by ~20%
                </li>
                <li>Defined product roadmap via data analysis, competitive research and user testing</li>
                <li>Performed scrum master duties with Jira, Trello and Google App Suite</li>
                <li>Created user testing workflow for connecting, recording, and storing sessions</li>
                <li>Presented features, insight and strategy to leadership and stakeholders</li>
            </ul>
        </div>
        <!--//details-->
    </div>
    <!--//item-->
</section>
<!--//section-->
