<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Professional Experience</h2>    
    <!--//item-->
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <div class="company">
                    <a href="https://www.cypress.io/cloud" target="_blank">Cypress.io</a>
                </div>
                <h3 class="job-title">Senior Software Engineer</h3>
                <div class="time">2022 - 2024</div>
            </div>
            <!--//upper-row-->
        </div>
        <!--//meta-->
        <div class="details">
            <p>Cypress Cloud</p>
            <ul>
                <li>Developed initiative for Cypress Tools Ecosystem, streamlining for broader user adoption</li>
                <li>Built and deployed new features leveraging full stack development skills, enhancing the functionality and user experience of various applications</li>
                <li>Collaborated with cross-functional teams to ensure that enterprise algorithms met business requirements and user expectations</li>
                <li>Contributed to the creation and refinement of documentation and processes for developing new products, ensuring clarity and consistency</li>
            </ul>
        </div>
        <!--//details-->
    </div>
    <!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <!-- <div class="company">
                    <a href="https://www.cypress.io/app" target="_blank">Cypress.io</a>
                </div> -->
                <h3 class="job-title">Developer Experience Engineer</h3>
                <div class="time">2021 - 2022</div>
            </div>
            <!--//upper-row-->
        </div>
        <!--//meta-->
        <div class="details">
            <p>Open Source Test Runner</p>
            <ul>
                <li>Migrated custom documentation site to a stable platform, improving performance and maintainability while adding frequently requested user features</li>
                <li>Developed demonstration apps, specialized plugins/libraries, integrations with other frameworks/services, and testing-related methodologies</li>
                <li>Researched, engineered, and experimented with new ways to improve developer workflows - both internally and externally</li>
                <li>Authored and engaged with the community via documentation, curated presentations, demonstrations, and learning guides to streamline developer adoption of Cypress</li>
                <li>Fostered relationships with the open source community and establish partnerships that improve the experience and workflow of Cypress users across common tools and libraries like Next.js, React, Angular, and AWS</li>
            </ul>
        </div>
        <!--//details-->
    </div>
    <!--//item-->
    
    <!--//item-->
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Senior Software Engineer</h3>
                <div class="time">2021</div> 
            </div>
            <!--//upper-row-->
            <div class="company">
                <a href="https://www.makerbot.com/cloudprint/" target="_blank">MakerBot, NYC</a>
            </div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>CloudPrint - A cloud-based web application for 3D print preparation.</p>
            <ul>
                <li>Contributed to architecture and execution of CloudPrint, an online and offline browser-based application</li>
                <li>Scripted tool to format and map firmware errors to various clients for UI consistency</li>
                <li>Implemented automated end-to-end testing framework, streamlining the QA process and improving test accuracy and efficiency</li>
            </ul>
        </div>
        <!--//details-->
    </div>
    <!--//item-->
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Engineer</h3>
                <div class="time">2018 - 2021</div> 
            </div>
            <!--//upper-row-->
            <div class="company">
                <a href="https://www.makerbot.com/3d-printers/apps/" target="_blank">MakerBot, NYC</a>
            </div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>Makerbot Print - A cross-platform desktop application for 3D print preparation.</p>
            <ul>
                <li>Overhauled legacy desktop application to modern and performant Javascript</li>
                <li>Developed dynamic module to provide users with print time and material estimates</li>
                <li>Extended and enhanced performance of automated diagnostic test suite</li>
                <li>Implemented team best practices while producing documentation and explainer videos</li>
            </ul>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <!-- <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Full Stack Developer</h3>
                <div class="time">2017</div>
            </div>
            <div class="company"><a href="https://github.com/jaffrepaul/apply-me" target="_blank">.apply(me), NYC</a></div>
        </div>
        <div class="details">
            <p>
                A web application for technical job-seekers that provides study material for missing job requirements
                and tracks application progress.
            </p>
            <ul>
                <li>Implemented component-based logic with React.js for a composable, scalable codebase</li>
                <li>Designed dynamic data visualizations with Chart.js for job application status tracking</li>
                <li>Architected RESTful API using Node, Express, PostgreSQL, and Sequelize</li>
                <li>Integrated automated reminder email service with Gmail SMTP and Nodemailer</li>
                <li>Constructed automated SMS service with Twilio for user interview reminders</li>
            </ul>
        </div>
    </div> -->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Product Manager / Team Lead</h3>
                <div class="time">2015 - 2017</div>
            </div>
            <!--//upper-row-->
            <div class="company">
                <a href="https://www.hudl.com/" target="_blank">Krossover Intelligence, NYC (acquired by Hudl)</a>
            </div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>A sports-tech video analysis platform providing performance insight and analytics to high school, collegiate, and professional players and coaches.</p>
            <ul>
                <li>
                    Cross-functionally managed team of 15 developers, visual and UX designers, and QA engineers
                    delivering new features and streamlining core user interaction by ~20%
                </li>
                <li>Defined product roadmap via data analysis, competitive research and user testing</li>
                <li>Performed scrum master duties with Jira, Trello and Google App Suite</li>
                <li>Created user testing workflow for connecting, recording, and storing sessions</li>
                <li>Presented features, insight and strategy to leadership and stakeholders</li>
            </ul>
        </div>
        <!--//details-->
    </div>
    <!--//item-->
</section>
<!--//section-->
